h1 {
	text-align: center;
	color: blue;
	text-shadow: 3px 3px 7px #666666;
	font-size: 2em;
	color: white;
	font-weight: normal;
}

h2 {
	font-size: 1.7em;
	text-shadow: 3px 3px 7px #666666;
}

section p{
	text-align: center;
}

.centrovany {
	text-align: centr;
}

body {
	font: 16px Verdana;
	background: #1c2228;
	margin: 73px 0 px 0px 0px;
	min-width: 960px;
}

article {
	background: #009aca;
	padding: 30px 0px;
}

article header {
	width: 250px;
	float: left;
}

article section {
	width: 666px;
	float: left;
	background: white;
	border: 2px solid #cf1818;
	border-radius: 10px;
	box-shadow: 2px 2px 7px #1c2228;
	padding: 20px;
}

header {
	height: 73px;
}

footer {
	height: 40px;
	color: white;
	margin: 20px 0 0 30px;
}

footer a {
	color: #ffbb00;
	text-decoration: none;
}

nav ul {
	margin: 0px;
	list-style-type: none;
}

nav ul li {
	float:left;
	padding: 0px 25px;
	margin: 0px 5px;
	font-size: 17px;
	height: 73px;
	line-height: 4.3em;
}

nav a {
	color: white;
	text-decoration: none;
}

nav ul li:hover, .aktivni {
	background: #ffbb00;
	box-shadow: 0px 0px 5px black;
}

section p a {
	text-decoration: none;
	color: #ffbb00;
}

section p img {
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 7px black;
}

footer p{
 color: #ffbb00;
}

.paticka{
 color: #ffbb00;	
text-align: right;
}

.mail {
 color: red;
}

.form-control{
 	width: 600px;
	border: none;
	outline: none;
	border-bottom: 1px solid #009aca;
	text-color: black;
	font-size: 18px;
	margin-bottom: 16px;
}

input {
 height: 45px;
}

form .submit {
 background: #ffbb00;
 border: none;
 font-size: 20px;
 letter-spacing: 2px;
 height: 50px;
 margin-top: 20px;
}

form .submit:hover{
 background: #034071;
 cursor: pointer;
}







.cistic {
	clear: both;
}

#centrovac {
	margin: 0px auto;
	width: 960px;
	
}
















